/simos_method/__pycache__
/simos_method/static/data/pca_output.json
/simos_method/static/data/srf_samples.json
simos_method/static/python/__pycache__/srf_methods.cpython-310.pyc
simos_method/static/python/__pycache__/utils.cpython-310.pyc
/venv/
simos_method/static/python/__pycache__/srf_methods.cpython-311.pyc
simos_method/static/python/__pycache__/utils.cpython-311.pyc
.python-version
/simos_method/static/python/__pycache__/*
